#AdminMain {
    background-image: url('https://storage.googleapis.com/pr-newsroom-wp/1/2020/02/JNV_SPOTIFY_LONDON_OFFICE_08.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* filter: blur(5px); */
}