#OwnerMain {
    background-image: url('https://storage.googleapis.com/pr-newsroom-wp/1/2020/06/Blackout_RapCaviar.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#OwnerImage {
    /* background-image: url('https://w0.peakpx.com/wallpaper/447/879/HD-wallpaper-star-lord-icon-2018-2019-2020-best-black-guardians-of-the-galaxy-hollywood-man-minimal-star-lord-thumbnail.jpg'); */
   background-image: url('https://scontent.fbkk22-3.fna.fbcdn.net/v/t39.30808-6/271778659_4914952595229094_8553639830305382666_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=a2f6c7&_nc_eui2=AeHhNzzPjlwcy44oxEN7DSemgmysW3UrecmCbKxbdSt5ydxjht6hGMvS3TMLokj-YZFNJEFzw75ulaOGbZ5KnPLE&_nc_ohc=jtRlMDiiiZkAX-8yCjx&_nc_ht=scontent.fbkk22-3.fna&oh=00_AfBL7v_sFitDBpV7C2NktnPKVXbPbKLBL2imJZijhemsUg&oe=6506DE43');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}