#OwnerMain {
    background-image: url('https://storage.googleapis.com/pr-newsroom-wp/1/2020/06/Blackout_RapCaviar.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#OwnerImage {
    background-image: url('https://w0.peakpx.com/wallpaper/447/879/HD-wallpaper-star-lord-icon-2018-2019-2020-best-black-guardians-of-the-galaxy-hollywood-man-minimal-star-lord-thumbnail.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}